---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import GithubIcon from "../icons/Github.astro";
import MailIcon from "../icons/Mail.astro";
import ProyectoIcon from "../icons/ProyectoIcon.astro";
import ExperienciasIcon from "../icons/Experiencia.astro";
import CurriculumIcon from "../icons/Curriculum.astro";
import Experiencias from "../components/Experiencias.astro";
import Proyectos from "../components/Proyectos.astro";
import Secciones from "../components/Secciones.astro";
import Habilidades from "../components/Habilidades.astro";
---

<Layout
  title="Portafolio | Erick"
  description="En este portafolio desmuestro algunas de las habilidades que tengo como desarrollador de software, así como también los distintos proyectos que he desarrollado y más."
>
  <main>
    <section class="main-seccion">
      <img
        class="img-mio"
        src="/img/yo.webp"
        alt="Imagen mía"
        width="10rem"
        height="10rem"
        loading="lazy"
      />
      <h1>Hola, soy Erick</h1>
      <h2>
        <span style="color: rgb(221, 221, 92);">Desarrollador Web Mexicano</span
        >. Apasionado por aprender y
        <span style="color: rgb(123, 186, 227);"
          >crear aplicaciones impactastes</span
        >. Me especializo en el área de <span style="color: rgb(255, 165, 0);"
          >Front End</span
        >
        pero también tengo experiencia en el desarrollo <span
          style="color: rgb(0, 128, 0);">Full Stack</span
        >.
      </h2>

      <nav class="nav-socials">
        <Socials href="https://linkedin.com/in/erick-gonzález-072213277">
          <LinkedinIcon class="habilidades-icons" />
          Linkedin
        </Socials>
        <Socials href="https://github.com/FMColdays">
          <GithubIcon class="habilidades-icons" />
          Github
        </Socials>
        <Socials href="mailto:erickgp51@gmail.com">
          <MailIcon class="habilidades-icons" />
          erickgp51@gmail.com
        </Socials>
        <Socials
          href="../public/document/Curriculum.pdf"
          download="Curriculum aspirante"
        >
          <CurriculumIcon class="habilidades-icons" />
          Curriculum
        </Socials>
      </nav>
    </section>

    <Secciones id="experiencia">
      <h2>
        <ExperienciasIcon class="habilidades-icons" />
        Experiencias
      </h2>
      <Experiencias />
    </Secciones>

    <Secciones id="proyectos">
      <h2>
        <ProyectoIcon class="habilidades-icons" />
        Proyectos
      </h2>
      <Proyectos />
    </Secciones>

    <Secciones id="habilidades">
      <h2>Habilidades</h2>
      <Habilidades />
    </Secciones>
  </main>

  <style>
    main {
      max-width: 80rem;
      margin: 7rem auto 0 auto;
      padding-inline: 4rem;
    }

    @media (min-width: 768px) {
      main {
        margin: 15rem auto 0 auto;
      }
    }

    .main-seccion {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: 768px) {
      .main-seccion {
        text-align: center;
        margin-block: 18rem;
      }
    }

    .img-mio {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }

    /* Main */
    .main-seccion h1 {
      text-align: center;
      padding-top: 2rem;
      font-size: 3.5rem;
      margin: 0;
    }

    @media (min-width: 576px) {
      .main-seccion h1 {
        font-size: 5rem;
      }
    }

    .main-seccion h2 {
      font-weight: 400;
      font-size: 2.2rem;
    }

    @media (min-width: 576px) {
      .main-seccion h2 {
        font-size: 2.2rem;
      }
    }

    /* Experiencias*/
    main :global(section):nth-child(2) h2 {
      margin-left: -1rem;
    }

    .nav-socials {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .habilidades-icons {
      width: 2.4rem;
      height: 2.4rem;
    }
  </style>
</Layout>
