---
interface Props {
  nombre: string;
  clase: string;
  Icono: (_props: Record<string, any>) => any;
}

const { nombre, clase, Icono } = Astro.props;
---

<li>
  <span style={clase}>
    <Icono width="18px" height="18px" />
    {nombre}
  </span>
</li>

<style>
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 0.2rem 0.8rem;
    border-radius: 0.5rem;
  }

  li {
    all: unset;
  }
</style>
