---

---

<footer>
  <p>© 2024 Erick. Todos los derechso reservados</p>
</footer>

<style>
  p {
    margin: 0;
  }
  footer {
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
  }


</style>
