<footer>
  <p>© {new Date().getFullYear()} Erick. Mi portafolio web :)</p>
</footer>

<style>
  p {
    margin: 0;
  }
  footer {
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
  }
</style>
