<header>
  <nav id="navegacion">
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#contacto">Contacto</a>
    <div id="menu-backdrop" class="menu-backdrop"></div>
  </nav>
</header>

<script>
  if (window.innerWidth > 450) {
    const enlaces = document.querySelectorAll("nav a");
    const $menuBackdrop = document.querySelector(
      "#menu-backdrop"
    ) as HTMLElement;
    const $nav = document.querySelector("#navegacion");

    enlaces.forEach((enlace) => {
      enlace.addEventListener("mouseenter", () => {
        const { left, top, width, height } = enlace.getBoundingClientRect();
        const { left: leftNav, top: topNav } = $nav.getBoundingClientRect();

        $menuBackdrop.style.setProperty("--left", `${left - leftNav - 10}px`);
        $menuBackdrop.style.setProperty("--top", `${topNav - top - 12}px`);
        $menuBackdrop.style.setProperty("--width", `${width}px`);
        $menuBackdrop.style.setProperty("--height", `${height}px`);
        $menuBackdrop.style.opacity = "1";
        $menuBackdrop.style.visibility = "visible";
      });

      enlace.addEventListener("mouseleave", () => {
        $menuBackdrop.style.opacity = "0";
        $menuBackdrop.style.visibility = "hidden";
      });
    });
  }
</script>

<style>
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    margin-inline: 2rem;
    z-index: 10;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: 120rem;
    margin: 0 auto;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
  }
  @media (min-width: 451px) {
    nav {
      display: unset;
    }
  }

  @media (min-width: 419px) {
    nav {
      padding: 1rem;
    }
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px hsla(0, 0%, 100%, 0.1%),
        0px 0px 0px 1px rgb(0 9 0 / 0.3);
      background-color: rgba(83, 80, 80, 0.5);
      backdrop-filter: blur(10px);
    }
  }

  nav a {
    padding-inline: 1rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    transition: color 300ms ease-in-out;
  }

  nav a:hover {
    color: #09f;
  }

  .menu-backdrop {
    background-color: rgba(0 0 0/ 0.8);
    backdrop-filter: blur(16px);
    border-radius: 1rem;
    position: absolute;
    padding-block: 1.3rem;
    transform: translateX(var(--left)) translateY(var(--top));
    width: var(--width);
    height: var(--height);
    z-index: -1;
    transition: transform 300ms ease-in-out;
  }
</style>
